.rps-wrapper {
    border: solid 1px gray;
    text-align: center;
}

#rps-img-box {
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rps-img-box img{
    width: 20%;
}

#rps-img-box div{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rps-img-box div img{
    width: 100%;
    }