.blackjack-container-box {
    text-align: center;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0d460d 0%, #0f5e0f 20%, #0f5e0f 80%,  #0d460d 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0d460d 0%, #0f5e0f 20%, #0f5e0f 80%,  #0d460d 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 600px;
}

.flex-box-blackjack-row-1 {
    display: flex;
    justify-content: space-around;
    height: 350px;
    border: solid 3px #000000;
    position: relative; /* for the middle line */
}


/* Middle Line in the Table */
.flex-box-blackjack-row-1::before {
    content: "";
    position: absolute;
    top: -3px; /* 3px is the width of the outline border  */
    left: 50%;
    width: 3px;
    height: 350px;
    background-color: #000000;
}

.flex-box-blackjack-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-blackjack-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-blackjack-row-3 table td, th {
    text-align: center;
    padding: 5px 10px;
    border: solid 1px #fff;
    color: #fff;
}

#your-box, #dealer-box {
    width: 100%;
    padding: 10px 20px;
}

#your-card, #dealer-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    float: left;
    margin: 5px;
}