body {
    margin: 0;
}

.container {
    background-color: rgb(87, 87, 87);
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border: solid 5px rgb(245, 147, 0);
    cursor: move;
    border-radius: 5px;
}

.draggable.dragging {
    opacity: 0.5;
}